.element {
  width: 100%;
  height: 100%;
  animation: pulse 10s infinite;
}

/* #countdown{
  text-align: center;
} */

@keyframes pulse {
  0% {
    background-color: #001F3F;
  }
  10%{
    background-color: aliceblue; 
  }
  20% {
    background-color: aqua;
  }
  30% {
    background-color: grey;
  }
  40%{
    background-color: blue;
  }
  50% {
    background-color: blueviolet;
  }
  60% {
    background-color: brown;
  }
  70%{
    background-color: burlywood;
  }
  80% {
    background-color: #cccc;
  }
  90% {
    background-color: crimson;
  }
  100%{
    background-color: rebeccapurple;
  }
}

html,
body {
  height: 100%;
}